body {

/*    overflow:scroll; */

    background-color: #FFFFFF;

    color: #323D4F;

    font-family: "Lucida Grande",Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;

    background: rgba(125,125,125,1);
    background: -moz-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(181,181,181,1) 50%, rgba(125,125,125,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,125,125,1)), color-stop(50%, rgba(181,181,181,1)), color-stop(100%, rgba(125,125,125,1)));
    background: -webkit-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(181,181,181,1) 50%, rgba(125,125,125,1) 100%);
    background: -o-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(181,181,181,1) 50%, rgba(125,125,125,1) 100%);
    background: -ms-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(181,181,181,1) 50%, rgba(125,125,125,1) 100%);
    background: linear-gradient(to bottom, rgba(125,125,125,1) 0%, rgba(181,181,181,1) 50%, rgba(125,125,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#7d7d7d', GradientType=0 );

}

a.weiss:link { color:#FFFFFF; }
a.weiss:visited { color:#FFFFFF; }
a.weiss:focus { color:#FFFFFF; }
a.weiss:hover { color:#FFFFFF; }
a.weiss:active { color:#FFFFFF; }

a.schwarz:link { color:#000000; }
a.schwarz:visited { color:#000000; }
a.schwarz:focus { color:#000000; }
a.schwarz:hover { color:#000000; }
a.schwarz:active { color:#000000; }

.index_table {

    padding:0px;

    border-spacing:0px;

    background: rgba(48,48,48,1);
    background: -moz-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(217,217,217,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,48,48,1)), color-stop(100%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(217,217,217,1) 100%);
    background: -o-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(217,217,217,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(217,217,217,1) 100%);
    background: linear-gradient(to bottom, rgba(48,48,48,1) 0%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#d9d9d9', GradientType=0 );

    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 1px solid #000000;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.83);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.83);

}


.header_table {
    
    height: 100%;
    width: 100%;

    color:#000000;


}

.header_left {

	width:250px;

    color:#000000;

}

.header_center {


    width:800px;

    text-align: center;

    color:#000000;

    vertical-align: bottom;
    
    padding: 30px;

}

.header_right {

    width: 250px;
    text-align: right;
    
    vertical-align: top;
    
    padding: 10px;

}

.index_header {

    height:200px;
    width:1200px;

    text-align: center;

    color:#000000;

    padding: 0px;

    border-bottom: 1px solid #000000;
    background-image: url(../images/header.png);

}

.index_menu {

    margin: 0;
    padding: 0;

    border-bottom: 1px solid #000000;

}

.index_site_right {

    vertical-align: top;

    color:#000000;

    width: 250px;
    height: 570px;

    padding: 10px;

    border-left: 1px solid #000000;

}

.index_site_left {

    vertical-align: top;

    color:#000000;

    padding: 10px;

}

.index_footer {

    color:#000000;
    
    text-align: center;
    
    font-size: 10px;

    height: 20px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    border-top: 1px solid #000000;

}


div.lang_selector div {
  margin: 1px;
  display: inline-block;
  line-height: 0px;
}

div.lang_selector div.selected {
  margin: 0px;
  border: 1px black solid;
}

div.lang_selector div div {
  position: relative;
  overflow: hidden;
  margin: 5px;
}

div.lang_selector input {
  position: absolute;
  width: 82px;
  height: 80px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;  
}

div.lang_selector div.en input {
  top: 0px;
}

div.lang_selector div.de input {
  top: -40px;
}

@media only screen and (max-device-width: 800px) {
  div.lang_selector div div {
    width: 60px;
    height: 40px;
    margin: 10px;
  }
  
  div.lang_selector div div input{
    left: 0px;
  }
  
  footer > div {
    padding-left: 10px;
  }
}

@media not screen and (max-device-width: 800px) {
  div.lang_selector div div {
    width: 22px;
    height: 16px;
  }
  
  div.lang_selector div div input {
    left: -60px;
  }
}